<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ASTRID</title>
  <meta name="description" content="ASTRID">
  <meta name="author" content="Pranjal Vachaspati">

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/static/ASTRID.js"></script>

</head>

<body>
  
  <div id="div-inputform">
    <form action="javascript:start()" enctype="multipart/form-data" method="post" id="inputform">
      <fieldset>
	<p>

	  <legend>Method (optional):</legend>
	  <input type="radio" name="method" value="auto"><label for="auto">Auto</label>
	  <input type="radio" name="method" value="fastme"><label for="fastme">FastME</label>
	  <input type="radio" name="method" value="bionj"><label for="bionj">BioNJ*</label>
	  <input type="radio" name="method" value="nj"><label for="nj">NJ*</label>
	  <input type="radio" name="method" value="unj"><label for="unj">UNJ*</label>
	  <input type="radio" name="method" value="mvr"><label for="mvr">MVR*</label>
	  
	<p>

	  <input type="file" name="genetrees" id="genetrees">
	  
	<p>
	  
	  <input type="submit" value="Start job">
      </fieldset>
      
    </form>
  </div>
  <div id="status"> </div>
  <div id="progressbar" style="display:none">
    <progress id="progbar" value="0.0" max="1.0"></progress>
  </div>
  <div id="tree"> </div>
</body>
</html>
